<!DOCTYPE html>
<html>
<head>
	<link rel="icon" href="/img/weather.png">
    <link type="text/css" rel="stylesheet" href="/css/style1.css">
    <title>Error</title>
</head>
<body>
	<div class="main-content">


		 {{>header}}
		 <p>{{errormessage}}</p>
		 
	</div>
 
{{>footer}}
</body>
</html>