<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="/img/weather.png">
    <link type="text/css" rel="stylesheet" href="./css/style1.css">
    <title>about</title>
</head>
<body>
    <div class="main-content">
          {{>header}}
  <h1>Its about page</h1>
  <p>this site was created by Ankit Dubey</p>
  <img class="portrait" src="/img/ankit.jpeg">
        
    </div>

{{>footer}}
</body>
</html>